{% extends "base.html" %}
{% block content %}
<h1>Log In</h1>
<form action="" method="post" novalidate>
    {{ loginform.hidden_tag() }}
    <p>
        {{ loginform.username.label }}<br>
        {{ loginform.username(size=40) }}<br>
        {% for error in loginform.username.errors %}
        <span style="color: red">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ loginform.password.label }}<br>
        {{ loginform.password(size=40) }}<br>
        {% for error in loginform.password.errors %}
        <span style="color: red">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ loginform.login() }}  {{ loginform.remember_me() }} {{ loginform.remember_me.label }}
    </p>
</form>
{% endblock %}
